body {
	background: url('../images/congruent_pentagon.png') fixed;
	text-align: center;
	font-family: sans-serif;
}



h1{
	font-family: 'Bungee Shade', cursive;
	font-size: 60px;
	margin: 20px;
}

p{
	font-family: 'Permanent Marker', cursive;
	font-size: 35px;

}